body {
  color: rgb(222, 222, 222);
  font-size: 20px;
  background-image: url('https://static1.squarespace.com/static/55dd19f4e4b0ec1e12a43195/t/5d7a77f79e0381577719ad92/1568307195537/1S5-2612.jpg?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
    text-align: center;    width:700px;
    margin: 0px auto;
}
.left-site {
  vertical-align: top;
  width: 300px;
  display: inline-block;

}
.right-site {
  padding: 10px;
    width: 300px;
    background-color: white;  display: inline-block;
}
input {
  height: 30px;
  width: 295px;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
}
.massege {
  height: 50px;
  margin-top: 10px;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
}
.submit {
  width: 70px;
  padding: 5px 10px;
  border: none;
  margin-top: 10px;
  background-color: rgb(6, 205, 6);
  color: white;
  border-radius: 6px;
}
.l {
  width: 700px;
  margin: 0px auto;
  padding: 70px;
}
